body {
    background-color: #f4f4f4;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

input {
    border-radius: none;
    width: 30%;
}
button {
    display: flex;
    flex-direction: column;
    margin: 20px;
    background-color: dodgerblue;
    color: #fff;
}